h1 {
    color: coral;
}

h1:hover {
    color: chartreuse;
    font-size: 40px;
}

ul {
    color: brown;
}

.special {
    background-color: burlywood;
}

input[type="number"] {
    background-color: blanchedalmond;
}